/* Start section Footer-top*/

//footer {
//    padding-top: 20px !important;
//      background-color: $secColor;
//}
//
footer hr {
    border-top: 1px solid rgb(33, 150, 243);
}
//
//footer .footer-top {
//    background-color: $secColor;
//}

/* End section Footer-top*/

/*-- material-scrolltop button */

.material-scrolltop {
    overflow: hidden;
    background-color: $mainColor;
}


.material-scrolltop:hover {
    background-color: #00a9da;
    text-decoration: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5),
    0 3px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.material-scrolltop.reveal {
    width: 56px;
    height: 56px;
    overflow: hidden;
    z-index: 9999;
}
/* start Fixed-contact*/
/* Start call */
.call{
     position: fixed;
    top: 81%;
    left: 0;
    background-color:#f6b60b;
    color: #fff;
    border-radius: 10px;
    z-index: 9999;
}


.call .info{
     padding: 10px;
    text-align: center;
    
}


.call .info h2 {
 font-size: 20px;
    color: #23527c;
}
.call .info  p{
      color: #000000;
    
}
.call .info  p i{
  padding-right: 5px;
    color: #23527c;
    
}
.call .info  a{
 
font-weight: bold;
    
}

/* End call */