body {
    font-family: 'Karla', sans-serif;
}

/*start top nav*/

.top-nav {
    background: #0f5a96;
    a {
        color: #fff;
        padding: 5px;
        margin: 5px;
        span {
            font-weight: 300;
        }
    }
}

.navbar {
    padding: 0;
    .nav-link {
        line-height: 2.2rem;
        font-weight: 400;
        color: #243552 !important;
        &:hover {
            background: #f5f5f5;
        }
    }
    .navbar-brand {
        h2{
        font-family: 'Montserrat', sans-serif;
            color: #00f;
            text-transform: uppercase;
        }
        img {
            //width: 100px;
        }
    }
}

/*end top nav*/

/* Resposive Main Nav*/
.navbar-light{
    .navbar-nav{
        .nav-link {
            text-transform: uppercase;
            font-weight: 600;
            &:hover{
                background-color: #3ca2f9;
    color: #fff !important;
    font-weight: 200;
            }
        }
    } 
} 
@media (max-width: 414px) {
    .main-navbar {
        .navbar-brand {
            h2{
                  font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                margin: 0 auto;
                
            }

            img {
                margin-left: 20%;
                width: 211px;
            }

        }
    }
}
/* Start Top-Nav*/

.top-header {
    background-color: #055ba4;

}

.top-header .top-left {
    line-height: 45px;
    color: #fff;
}

.top-header .top-left i {
    color: #fff;
    margin-left: 12px;
    span{
        margin-left: 5px;
    }
}

.top-header .top-right {
    line-height: 45px;
    color: #fff;
}

.top-header .top-right span {
    margin-right: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.top-header .top-right span:hover {
    color: #fff;
    cursor: pointer;
}

@media (max-width: 414px) {
    .top-header {
        .top-left  {
            
        margin-left: 9px;
        line-height: 33px;
     }
        .top-right{
                    line-height: 33px;

        }
    }
}
@media (max-width: 575.98px) {
    .top-header .top-left i {
        margin-left: 9px;
    }
}

@media(max-width:768px) {
    .top-header .top-left i {
        margin-left: 50px;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 11px 17px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {
    .top-header .top-left i {
        margin-left: 31px;
    }
}

/*  End Top-Nav*/