$mainColor:#00c8f8;
$secColor:#117896;
$mainTextColor:#030303;
$bodyColor:#f3f3f3;
$secTextColor:#ccc;
$whiteColor:#fff;
$iconColor:#9daeb3;
$iconColorSelected:#0275d8;
$favColor: red;
$cartColor:green;
$shareColor: blue;
$notColor: darkblue;
$logoColor:#055ba4;
